@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

/* Reset CSS */

html,
body,
div,
span,
h1,
h2,
h3,
p,
blockquote,
pre,
a,
em,
img,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
menu,
nav,
output,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

body,
button,
input,
select,
textarea,
h1,
h2,
h3 {
  font-family: "Roboto Mono", monospace;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
.page-content {
  margin-top: 2rem;
}

.content-title {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  border-bottom: solid 1px;
}

.form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: flex-start;
  margin-top: 2rem;
}

#customForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 10px #000000aa;
  padding: 2rem;
  border-radius: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  height: 35px;
  padding: 0 2rem;
  font-size: 1rem;
  border-radius: 4px;
}

textarea#message {
  border: solid 2px;
  height: 120px;
}

button {
  height: 60px;
  font-size: 1.2rem;
  font-weight: 600;
}

.hidden-label {
  opacity: 0;
  transition: 0.2s;
}

input:focus::-webkit-input-placeholder {
  color: #ccc;
  opacity: 0.5;
}
input:focus:-moz-placeholder {
  color: #ccc;
  opacity: 0.5;
}

input:focus + .hidden-label,
textarea:focus + .hidden-label,
textarea:not(:placeholder-shown) + .label,
input:not(:placeholder-shown) + .label {
  opacity: 1;
  display: block;
  position: relative;
  top: -3.8rem;
  left: 1.7rem;
  background: #fff;
  width: fit-content;
  padding: 0 0.4rem;
}

textarea:focus + .hidden-label,
textarea:not(:placeholder-shown) + .label {
  top: -148px;
}

.form-log-list {
  list-style-type: none;
  padding: 2rem;
}

.form-log-list li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-log-list h2 {
  margin: 0;
  font-size: 24px;
}

/* -----------------------------*/

/* Menu Toggle */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu-icon {
  display: none; /* Hide by default, will show on mobile */
  font-size: 30px;
  cursor: pointer;
}

.menu {
  width: 100%;
  transition: all 0.3s;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin: 0;
  padding: 5px 0;
}

.menu-list a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu-list a:hover {
  color: #007acc;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu-list li {
  margin: 0;
  padding: 5px 0;
  list-style-type: none;
}

.menu-list a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu-list a:hover {
  color: #007acc;
}

.form-log-list li {
    display: grid;
    grid-template-areas:
      "name message"
      "phone message"
      "email message";
    grid-template-columns: 2fr 4fr;
    justify-content: space-between;
    align-items: start;
    justify-items: start;
    background: #ededed;
    padding: 1rem;
  }
  
  .custom-field.field-msg {
    grid-area: message;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: -webkit-fill-available;
  }
  
  .custom-field.field-phone {
    grid-area: phone;
  }
  
  .custom-field.field-email {
    grid-area: email;
  }

  
@media screen and (max-width: 768px) {
  .menu-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 3rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 60px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 5;
    border-radius: 4px;
    padding: 0;
    left: 0;
    right: 0;
    max-width: 100vw;
  }

  .menu-list ul {
    flex-direction: column;
  }

  .menu-list li {
    margin: 0;
    padding: 20px 5px;
    list-style-type: none;
    border-bottom: 1px solid #00000033;
  }
  .menu-list li:hover {
    color: #000;
    background: #ededed;
  }

  .header-nav {
    position: relative;
  }

  .form-log-list li {
    display: grid;
    grid-template-areas:
      "name"
      "phone "
      "email"
      "message";
    grid-template-columns: auto;
    justify-content: space-between;
    align-items: start;
    justify-items: start;
    background: #ededed;
    padding: 1rem;
  }
}
